<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas prefabricadas</title>
    <link rel="stylesheet" href="../static/css/index.css">
    {% include 'bootstrapcss.html' %}
</head>
<body>

    <header>
        {% include "Navbar.html" %}
        {% include "Carousel.html" %}
    </header>
    <br><br>
    <section class="destacadas">
      <div class="card-table">
        <div class="card-deck">
              <div class="card">
                <img src="../static/imagenes/destacadas/Captura.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Modelo atacama</h5>
                  <p class="card-text">Nuestro modelo Atacama es una excelente eleccion para una casa de 2 pisos con balcon.</p>
                </div>
    
            </div>
            <div class="card">
              <img src="../static/imagenes/destacadas/ohiggins.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Modelo ohiggins</h5>
                <p class="card-text">Nuesto modelo ohiggins es una excelente opcion debido a la comodidad que ofrece.</p>
              </div>
              
            </div>
            <div class="card">
              <img src="../static/imagenes/destacadas/papudo.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Modelo Papudo</h5>
                <p class="card-text">Nuestro modelo papudo es una buena opcion debido a su gran espacio y arqitectura</p>
              </div>
            
            </div>
          </div>
        </div>
  </section>
    <div>
      <section class="portafolio">
        <div  class="info-port">
          <h1>Conoce nuestro trabajo</h1>
          <p>somos una empresa dedicada a la venta y armado de casas prefabricadas y Estamos comprometidos <br>
            con nuestros clientes en entregar un servicio de excelencia a la hora de comprar un kit prefabricado de Autoconstruccion.
          </p>
          <div align="center">
            <button type="button" class="btn btn-success">Portafolio</button>
          </div>
        </div>
      </div>
      <br><br><br>
      <!--<div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.0991836115486!2d-70.63246734875331!3d-33.524806808624824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662da86f4bdc797%3A0x8348ef7a2a4e136!2sSta%20Ana%20308%2C%20La%20Granja%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1604879563314!5m2!1ses!2scl" width="1630" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>-->
    </section>
    <footer>
      <div class="footer-logo footer" >
        <div class="p-3 mb-2  text-white">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <img src="../static/imagenes/Sin_titulo.png" class="card-img-top" alt="..." >
              </div>
              <div class="col-sm">
                <ul>
                  <li><a class="" href="/Inicio">Inicio </a></li>
                  <li><a class="" href="/QuienesSomos">Quines somos</a></li>
                  <li><a href="/Galeria" class="">Galeria</a></li>
                  <li><a class="k " href="/Contacto"  >Contacto</a></li>
                </ul>
              </div>
              <div class="col-sm">
                <p>
                  Santa Ana 0308,La Granja,Santiago,Chile. <br>
                  +569 2 2511 8222 <br>
                  +56 9 5805 6559 <br>               
                  ventas@empresa.cl
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </footer>
    


    <!---Scripts bootstrap-->
    {% include 'bootstrapjs.html' %}
</body>
</html>